*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #5d3bee;
}

/* ===================================================== Common ==================================== */

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container-xl,
.container-xxl {
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #fdfdfd;
  padding: 16px 37px;
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 1.18;
  letter-spacing: -0.04em;
  color: #080415;
}

.section-desc {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #51586a;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;

  background: #ccc;
  font-size: 3rem;
  font-weight: 600;
}

/* ===================================================== Header ==================================== */
.header {
  background: #fbfaff;
}

.header__inner {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.header__info {
  display: flex;
  align-items: center;
  column-gap: 21px;
}

.header__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 11px;
  border: 1px solid rgb(93 59 238 / 20%);
  border-radius: 50%;
}

.header__icon {
  width: 24px;
}

.header__text {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.36;
  text-decoration: underline;
  color: #080415;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 357px;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  font-size: 1.8rem;
  color: #51586a;
  padding: 8px 22px;
}

.navbar__link:hover {
  color: #080415;
  text-shadow: 1px 0 0 currentColor;
}

/* ===================================================== Hero ==================================== */
.hero__bg {
  position: relative;
  padding-top: 44px;
  background: #fbfaff;
}

.hero__decor-right {
  position: absolute;
  bottom: 0;
  left: -15px;

  width: 835px;
  height: 772px;
  z-index: 1;
}

.hero__decor-left {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 341px;
  height: 170px;
  z-index: 1;
}

.hero__img {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: 514px;
  max-height: 705px;
  object-fit: cover;
  z-index: 2;
}

.hero__info {
  margin-top: 137px;
}

.hero__heading {
  font-weight: 500;
  font-size: 8rem;
  line-height: 0.95;
  letter-spacing: -0.04em;
  color: #080415;
}

.hero__desc {
  margin-top: 20px;
  width: 370px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #51586a;
}

.hero__action {
  margin-top: 50px;
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.hero__action-link {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.67;
  text-decoration: underline;
  color: #080415;
}

.hero__more {
  margin: 104px 0 38px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.hero__text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #51586a;
}

.hero__icon-wrap {
  padding: 12px 12px;
  border: 1px solid rgb(8 4 21 / 10%);
  border-radius: 50%;
}

.hero__icon-wrap:hover {
  background: var(--primary-color);
}

.hero__icon:hover {
  color: #fff;
}

.hero__icon {
  width: 14px;
  color: #080415;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===================================================== Client ==================================== */
.client {
  margin-top: 98px;
}

.client__heading {
  position: relative;
  font-weight: 500;
  width: 253px;
  font-size: 4.2rem;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: #080415;
}

.client__heading::before {
  content: "";
  position: absolute;
  top: 22px;
  left: -99px;
  width: 86px;
  height: 2px;
  background: var(--primary-color);
}

.client .row {
  row-gap: 36px;
}

.client__item {
  display: flex;
  align-items: center;

  height: 36px;
}

.client__logo-img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

.col:nth-child(8) .client__logo-img {
  max-width: 100%;
  max-height: 100%;
}

.client__logo-wrap {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.col:nth-child(2) .client__logo-wrap {
  background: #fbfaff;
}

.col:nth-child(3) .client__logo-wrap {
  background: #fee101;
}

.col:nth-child(4) .client__logo-wrap {
  background: #ff0000;
}

.col:nth-child(5) .client__logo-wrap {
  background: #14a800;
}

.col:nth-child(6) .client__logo-wrap {
  background: #ffffff;
}

.col:nth-child(7) .client__logo-wrap {
  background: #7f54b3;
}

.client__logo-name {
  margin-left: 13px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.67;
  color: #080415;
}

/* ===================================================== Specialities ==================================== */
.specialities {
  margin-top: 133px;
}

.specialities__top {
  width: 534px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialities__desc {
  text-align: center;
}

.specialities__list {
  margin-top: 60px;
}

.specialties__item {
  background: #fbfaff;
  padding: 33px 42px;
}

.specialities__item-title {
  margin-top: 22px;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #080415;
}

.specialtities__item-desc {
  margin-top: 15px;
}

.specialities__icon-wrap {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid rgb(8 4 21 / 10%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.specialities__icon {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}
