*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #5d3bee;
}

/* ===================================================== Common ==================================== */

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container-xl,
.container-xxl {
  padding: 0;
}

a {
  text-decoration: none;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;

  background: #ccc;
  font-size: 3rem;
  font-weight: 600;
}

/* ===================================================== Header ==================================== */
.header__inner {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.header__info {
  display: flex;
  align-items: center;
  column-gap: 21px;
}

.header__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 11px;
  border: 1px solid rgb(93 59 238 / 20%);
  border-radius: 50%;
}

.header__icon {
  width: 24px;
}

.header__text {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.36;
  text-decoration: underline;
  color: #080415;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 357px;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  font-size: 1.8rem;
  color: #51586a;
  padding: 8px 22px;
}

.navbar__link:hover {
  color: #080415;
  text-shadow: 1px 0 0 currentColor;
}
