*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #5d3bee;
}

/* ===================================================== Common ==================================== */

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container-xl,
.container-xxl {
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #fdfdfd;
  padding: 16px 37px;
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 1.18;
  letter-spacing: -0.04em;
  color: #080415;
}

.section-desc {
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #51586a;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100px;
  margin-bottom: 30px;

  background: #ccc;
  font-size: 3rem;
  font-weight: 600;
}

/* ===================================================== Header ==================================== */
.header {
  background: #fbfaff;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.header__info {
  display: flex;
  align-items: center;
  column-gap: 21px;
}

.header__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 11px;
  border: 1px solid rgb(93 59 238 / 20%);
  border-radius: 50%;
}

.header__icon {
  width: 24px;
}

.header__text {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.36;
  text-decoration: underline;
  color: #080415;
}

.logo {
  width: 100px;
  height: 100px;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  font-size: 1.8rem;
  color: #51586a;
  padding: 8px 22px;
}

.navbar__link:hover {
  color: #080415;
  text-shadow: 1px 0 0 currentColor;
}

/* ===================================================== Hero ==================================== */
.hero__bg {
  position: relative;
  padding-top: 44px;
  background: #fbfaff;
}

.hero__decor-right {
  position: absolute;
  bottom: 0;
  left: -15px;

  width: 835px;
  height: 772px;
  z-index: 1;
}

.hero__decor-left {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 341px;
  height: 170px;
  z-index: 1;
}

.hero__img {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: 514px;
  max-height: 705px;
  object-fit: cover;
  z-index: 2;
}

.hero__info {
  margin-top: 137px;
}

.hero__heading {
  font-weight: 500;
  font-size: 8rem;
  line-height: 0.95;
  letter-spacing: -0.04em;
  color: #080415;
}

.hero__desc {
  margin-top: 20px;
  width: 370px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #51586a;
}

.hero__action {
  margin-top: 50px;
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.hero__action-link {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.67;
  text-decoration: underline;
  color: #080415;
}

.hero__more {
  margin: 104px 0 38px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.hero__text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #51586a;
}

.hero__icon-wrap {
  padding: 12px 12px;
  border: 1px solid rgb(8 4 21 / 10%);
  border-radius: 50%;
}

.hero__icon-wrap:hover {
  background: var(--primary-color);
}

.hero__icon:hover {
  color: #fff;
}

.hero__icon {
  width: 14px;
  color: #080415;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===================================================== Client ==================================== */
.client {
  margin-top: 98px;
}

.client__heading {
  position: relative;
  font-weight: 500;
  width: 253px;
  font-size: 4.2rem;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: #080415;
}

.client__heading::before {
  content: "";
  position: absolute;
  top: 22px;
  left: -99px;
  width: 86px;
  height: 2px;
  background: var(--primary-color);
}

.client .row {
  row-gap: 36px;
}

.client__item {
  display: flex;
  align-items: center;

  height: 36px;
}

.client__logo-img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

.col:nth-child(8) .client__logo-img {
  max-width: 100%;
  max-height: 100%;
}

.client__logo-wrap {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.col:nth-child(2) .client__logo-wrap {
  background: #fbfaff;
}

.col:nth-child(3) .client__logo-wrap {
  background: #fee101;
}

.col:nth-child(4) .client__logo-wrap {
  background: #ff0000;
}

.col:nth-child(5) .client__logo-wrap {
  background: #14a800;
}

.col:nth-child(6) .client__logo-wrap {
  background: #ffffff;
}

.col:nth-child(7) .client__logo-wrap {
  background: #7f54b3;
}

.client__logo-name {
  margin-left: 13px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.67;
  color: #080415;
}

/* ===================================================== Specialities ==================================== */
.specialities {
  margin-top: 133px;
}

.specialities__top {
  width: 534px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialities__desc {
  text-align: center;
}

.specialities__list {
  margin-top: 60px;
}

.specialties__item {
  background: #fbfaff;
  padding: 33px 42px;
}

.specialities__item-title {
  margin-top: 22px;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #080415;
}

.specialtities__item-desc {
  margin-top: 15px;
}

.specialities__icon-wrap {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 1px solid rgb(8 4 21 / 10%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.specialities__icon {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}

/* ===================================================== Project ==================================== */
.project__bg {
  position: relative;
  background: var(--primary-color);
}

.project {
  margin: 140px 0;
  padding: 86px 0;
}

.project .row {
  align-items: center;
}

.project__left {
  margin-bottom: 70px;
}

.project__right {
  margin: 0 0 81px 30px;
}

.project__heading {
  width: 468px;
  color: #fff;
}

.project__desc {
  width: 370px;
  margin: 0;
  color: rgb(255 255 255 / 70%);
}

.project__item {
  display: flex;
  column-gap: 47px;
  max-width: 570px;
  background: #fbfaff;
  padding: 24px 23px 23px 34px;
  margin-bottom: 30px;
}

.project__item-content {
  width: 220px;
}

.project__item-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #080415;
}

.project__item-desc {
  margin-top: 10px;
  font-size: 1.6rem;
  line-height: 1.44;
  color: #51586a;
}

.project__item-link {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.67;
  text-decoration: underline;
  color: #080415;
}

.project__item-img {
  max-width: 246px;
  max-height: 187px;
  z-index: 2;
}

.project__btn {
  margin-top: 50px;
  width: 170px;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  color: #080415;
}

.project__decor {
  position: absolute;
  width: 423px;
  height: 234px;
}

.project__decor:nth-child(1) {
  top: 289px;
  left: 323px;
}

.project__decor:nth-child(2) {
  top: 289px;
  right: 175px;
}

.project__decor:nth-child(3) {
  bottom: 228px;
  left: 323px;
}

.project__decor:nth-child(4) {
  bottom: 228px;
  right: 175px;
}

/* ===================================================== designer ==================================== */
.designer__top {
  text-align: center;
}

.designer__text-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.designer__text {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: var(--primary-color);
}

.designer__icon {
  width: 30px;
  height: 30px;
}

.designer__badge {
  margin: 70px 0;
  padding: 20px 0;
  border-block: 1px solid rgb(8 4 21 / 20%);
}

.designer__item-title {
  font-weight: 500;
  font-size: 5.6rem;
  line-height: 1.36;
  letter-spacing: 0.03em;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  color: #080415;
}

.designer__item-text {
  font-size: 1.8rem;
  line-height: 1.67;
  color: #51586a;
}

.designer__video-wrap {
  position: relative;
}

.designer__video {
  width: 100%;
  height: 628px;
  object-fit: cover;
}

.designer__video-label {
  position: absolute;
  bottom: 37px;
  right: 16px;
  padding: 16px 28px;
  background: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.67;
  text-transform: uppercase;
  color: #51586a;
}

.designer__video-play-wrap,
.designer__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.designer__video-play-wrap {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background: #ffffffb2;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.designer__video-play {
  color: var(--primary-color);
}

/* ===================================================== People ==================================== */
.people__bg {
  position: relative;
  background: #fbfaff;
  margin-top: -325px;
  padding-top: 325px;
  z-index: -1;
}

.people__decor {
  position: absolute;
  max-width: 395px;
  max-height: 292px;
}

.people__decor:nth-child(1) {
  left: 0;
  bottom: 0;
}

.people__decor:nth-child(2) {
  right: 0;
  bottom: 0;
}

.people {
  margin-top: 150px;
}

.people__top {
  text-align: center;
}

.people__body {
  margin-top: 60px;
  width: 679px;
  font-size: 2.4rem;
  line-height: 1.67;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #51586a;
}

.people__info-top {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.people__info-img-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f29764;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  overflow: hidden;
}

.people__info-img {
  display: block;
  margin-top: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.people__info-name {
  margin-left: 15px;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.33;
  color: #080415;
}

.people__info-desc {
  margin-top: 3px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.81;
  color: #51586a;
}

.dots__list {
  margin: 40px 0 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(8 4 21 / 20%);
}

.dot.active {
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 3px;
  background-clip: content-box;
}

/* ===================================================== Question ==================================== */
.question {
  margin-top: 95px;
}

.question__list {
  margin-top: 20px;
}

.question__item {
  margin-top: 60px;
  border-bottom: 2px solid #08182f;
  padding-bottom: 33px;
}

.question__item:has(.question__input:checked) {
  border-bottom-color: var(--primary-color);
  padding-bottom: 21px;
}

.question__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question__title,
.question__content {
  margin-left: 23px;
}

.question__title {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #080415;
}

.question__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(22 26 28 / 20%);
  transition: all 0.3s ease;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.question__icon::before {
  content: "+";
  font-size: 28px;
}

.question__desc {
  margin-top: 23px;
}

.question__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-width: 487px;
}

.question__input:checked ~ .question__content {
  max-height: 200px;
}

.question__input:checked ~ .question__header .question__title {
  color: var(--primary-color);
}

.question__input:checked ~ .question__header .question__icon::before {
  content: "-";
  font-size: 32px;
  color: var(--primary-color);
}

.question__input:checked ~ .question__header .question__icon {
  border: 2px solid rgb(93 59 238 / 20%);
}

/* ===================================================== Atmosphere ==================================== */
.atmosphere {
  margin-top: 160px;
}

.atmosphere__top {
  text-align: center;
}

.atmosphere__link {
  margin: 30px 0 70px;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
  text-decoration: underline;
  color: var(--primary-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.atmosphere__img {
  max-width: 100%;
  object-fit: cover;
}

/* ===================================================== Action ==================================== */
.action__bg {
  position: relative;
}

.action__decor {
  position: absolute;
}

.action__decor:nth-child(1) {
  max-width: 295px;
  left: 0;
  bottom: 0;
}

.action__decor:nth-child(2) {
  max-width: 635px;
  height: 100%;
  top: 0;
  left: 320px;
}

.action__decor:nth-child(3) {
  max-width: 295px;
  right: 0;
  top: 0;
}

.action {
  margin-top: 140px;
  padding-top: 42px;
  text-align: center;
  background: #fbfaff;
}

.action__inner {
  margin-right: 90px;
}

.action__icon {
  font-size: 80px;
}

.action__heading {
  margin-top: 20px;
}

.action__btn {
  margin: 42px 0;
}

/* ===================================================== Footer ==================================== */
.footer {
  margin-top: 50px;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px solid rgb(12 7 32 / 20%);
  padding-bottom: 32px;
}

.footer__info {
  display: flex;
  align-items: center;
  column-gap: 21px;
}

.footer__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 11px;
  border: 1px solid rgb(93 59 238 / 20%);
  border-radius: 50%;
}

.footer__icon {
  width: 24px;
}

.footer__email {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.36;
  text-decoration: underline;
  color: #080415;
}

.footer__logo {
  width: 100px;
  height: 100px;
}

.footer__navbar-list {
  display: flex;
}

.footer__navbar-link {
  font-size: 1.8rem;
  color: #51586a;
  padding: 8px 22px;
}

.footer__navbar-link:hover {
  color: #080415;
  text-shadow: 1px 0 0 currentColor;
}

.copyright {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.copyright__left {
  margin-left: 80px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: rgb(82 87 113 / 60%);
}

.copyright__right {
  display: flex;
  column-gap: 36px;
  margin-left: auto;
  margin-right: 40px;
}

.copyright__right-link {
  position: relative;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  letter-spacing: -0.03em;
  color: rgb(82 87 113 / 60%);
}

.copyright__right-link:nth-child(2)::before {
  position: absolute;
  left: -13px;
  top: 8px;
  content: "";
  width: 1.5px;
  height: 14px;
  background: rgb(82 87 113 / 60%);
}
